.create-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 30px;
	width: 50%;
	margin: auto auto;
	padding: 10px;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	background: white;
	z-index: 200;
	box-shadow: 3px 3px 7px 4px;
}

.create-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 11vw;
}

.create-icon {
	width: 2vw;
}

.create-bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	backdrop-filter: brightness(20%);
}

#close {
	width: 2vw;
	cursor: pointer;
}

.create-container input {
	width: 40vw;
	margin: 1vw;
	padding: 0.7vw;
	border-radius: 12px;
	font-size: 1.1vw;
}

.create-pic {
	width: 10vw;
}

.save-btn {
	border-radius: 13px;
	padding: 1.1vw;
	background: #0158cc;
	color: white;
	cursor: pointer;
	border: none;
	box-shadow: 3px 3px 5px #86a9ff;
	font-size: 1.1vw;
}

.save-btn:hover {
	background: #0368ed;
}

@media (max-width: 700px) {
	.create-container {
		width: 80%;
		padding: 10px;
		position: fixed;
	}

	.create-head h1 {
		font-size: 6vw;
	}

	#close {
		width: 4vw;
	}

	.create-container input {
		width: 60vw;
		margin: 2vw;
		padding: 1.5vw;
		border-radius: 17px;
		font-size: 4.5vw;
	}

	.create-pic {
		width: 20vw;
	}

	.save-btn {
		border-radius: 13px;
		padding: 2.1vw;
		font-size: 4.5vw;
		margin-top: 1vh;
	}

	.create-icon {
		width: 5vw;
	}
}
