.navbar {
	background: white;
	position: fixed;
	top: 0;
	width: 98.5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-bottom: 2px solid gray;
	padding: 1vw 1vw;
}

.results-container {
	display: none;
	position: fixed;
	top: 60px;
	left: 28vw;
	background: white;
	border-radius: 20px;
	box-shadow: 3px 3px 6px 3px rgb(172, 172, 172);
	width: 51.5vw;
	z-index: 90000;
	padding: 1vw 0;
}

.results-container > div {
	padding: 7px 32px;
	margin: 5px 0px;
	cursor: pointer;
}

.results-container > div:hover {
	background: #e9e9e9;
	border-radius: 7px;
}

#res-name {
	font-size: 1.5vw;
	font-weight: 500;
}

.logo span {
	font-size: 2.6vw;
}

.logout {
	border-radius: 13px;
	padding: 1.1vw;
	background: #0158cc;
	color: white;
	cursor: pointer;
	border: none;
	box-shadow: 3px 3px 5px #86a9ff;
	font-size: 1.1vw;
}

.logout:hover {
	background: #0368ed;
}

.user,
.search {
	width: 3vw;
}

.search {
	width: 1.9vw;
}

.search2 {
	display: none;
}

.search-box {
	width: 50vw;
	padding: 0.8vw 1vw;
	background: rgb(233, 233, 233);
	font-size: 1.3vw;
	border-radius: 8px;
	border: none;
}

.search-box2 {
	display: none;
	width: 50vw;
	padding: 0.8vw 1vw;
	background: rgb(233, 233, 233);
	font-size: 1.3vw;
	border-radius: 8px;
	border: none;
}

.menu {
	display: none;
}

@media (max-width: 700px) {
	.logout,
	.search,
	.search-box {
		display: none;
	}

	.user {
		width: 9vw;
	}

	.user:hover {
		opacity: 0.7;
	}

	.logo span {
		font-size: 7vw;
	}

	.navbar {
		width: 96%;
		padding: 1.3vw 2vw;
	}

	.menu {
		display: block;
		width: 9.5vw;
	}

	.menu:hover {
		opacity: 0.7;
	}

	.search2 {
		width: 6.5vw;
		display: block;
	}

	.search-box2 {
		/* display: block; */
		position: fixed;
		top: 8px;
		left: 50vw;
		transform: translateX(-50%);
		width: 88%;
		font-size: 5vw;
		padding: 3.2vw 3vw;
		border-radius: 100px;
		border: 2px solid blue;
	}

	.results-container {
		position: fixed;
		top: 60px;
		width: 92%;
		left: 50vw;
		transform: translateX(-50%);
		z-index: 1000;
	}

	#res-name {
	font-size: 4.8vw;
	font-weight: 500;
}
}
